/**
 * Colours
 */

$grey: #d9d9d9 !default;
$body-bg: black;
$dark: #111;
$orange:#f27032;
$purple: purple;
$blue: blue;
//-- Globals
$text-colour: $dark !default;
$link-colour: $dark !default;
$link-hover-colour: lighten($dark, 5%) !default;