/**
 *
 * Main site variables
 *
 */


/**
 * Colours
 */

$grey : #d9d9d9 !default;


$body-bg : black;

//-- Globals
$text-colour : #555 !default;
$link-colour : #555 !default;
$link-hover-colour : lighten(#555, 5%) !default;



/**
 * Fonts
 */

 $font-family : 'gotham_bookregular' , Helvetica, Arial, sans-serif !default;

 $font-size : 14px !default;
 $font-size-large : ceil(($font-size * 1.25)) !default; // ~18px
 $font-size-small : ceil(($font-size * 0.85)) !default; // ~12px

 $font-h1 :  floor(($font-size * 2.6)) !default; // ~36px
 $font-h2 :  floor(($font-size * 2.15)) !default; // ~30px
 $font-h3 :  ceil(($font-size * 1.7)) !default; // ~24px
 $font-h4 :  ceil(($font-size * 1.25)) !default; // ~18px
 $font-h5 :  $font-size !default;
 $font-h6 :  ceil(($font-size * 0.85)) !default; // ~12px

 $font-weight : normal !default;

 $line-height-base : 1.428571429 !default; // 20/14
 $line-height-large : 1.3333333 !default; // extra decimals for Win 8.1 Chrome
 $line-height-small : 1.5 !default;


/**
 * misc
 */
 $site-width-base : 1200px !default;
 $border-radius : 5px !default;
